{% extends 'training/__base__.html' %}
{% block pagecontent %}
<form method="POST" action="">
    {% csrf_token %}
{% for q in questions%}
<p class="h4">{{q.content}}</p>
{% for a in q.answers %}
    <p><input type="radio" name="employee_choice" value="{{a.id}}"
    {% if a.choice %}
              checked
              {% else %}
              {%endif%}
>{{a.choice}} &nbsp; &nbsp;{{a.content}}</input></p>
{% endfor %}
{% endfor %}
<div>
    <input type="submit" name="answer_button" value="odpowiedź">
</div>
    <div>
        <input type="submit" name="end_button" value="koniec">
    </div>
</form>

    <hr>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if questions.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; pierwsze</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{questions.previous_page_number}}">poprzednie</a>
        </li>
        {% endif %}
        <li class="page-item page-link">
            pytanie {{questions.number}} z {{questions.paginator.num_pages}}
        </li>
        {% if questions.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{questions.next_page_number}}">następne</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{questions.paginator.num_pages}}">ostatnie</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}