{% extends 'training/__base__.html' %}
{% block pagecontent %}
<div class="h1">Podsumowanie</div>
{% if status_quiz %}
<div class="h2">Test jeszcze jest aktywny!</div>
{% else %}
<hr>

<div class="fs-3 row">
    <div class="col">
        {{rate}}% &nbsp;({{score}}/{{max_points}})
    </div>
    <div class="col">
        {% if not is_pass %}
        To za mało do zaliczenia testu
        {% else %}
        Gratulacje! Test zaliczony
        {% endif %}
    </div>
    <div class="col">
        <a class="btn btn-success btn-lg stretched_link" href="{% url 'tr:tmp' %}">KONIEC</a>
    </div>
</div>
<hr>
<div class="content">
    {% for q in questions %}
        <span class="badge
        {% if q.result %}
        bg-success
        {% else %}
        bg-danger
        {% endif %}">
            &nbsp;
        </span>
        <p class="h5">{{q.content}}</p>
        {% for a in q.answers %}
            <p class="
            {% if a.is_correct %}
            bg-success text-white
            {% elif a.employee_answer %}
            bg-danger text-white
            {% endif %}
            ">
                {{a.content}}
            </p>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if questions.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; pierwsze</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{questions.previous_page_number}}">poprzednie</a>
        </li>
        {% endif %}
        <li class="page-item page-link">
            pytanie {{questions.number}} z {{questions.paginator.num_pages}}
        </li>
        {% if questions.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{questions.next_page_number}}">następne</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{questions.paginator.num_pages}}">ostatnie</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}