{% extends 'training/base.html' %}
{% block pagecontent %}
<form action="" method="POST">
    {% csrf_token %}
    <input type="submit">
    {{form.as_p}}
</form>

<p>{{question.content}}</p>

<ul>
    {% for answer in question.answer_set.all %}
    <li>{{answer}}</li>
    {% endfor %}
</ul>

<hr>{% for question in questions %}
<p>{{question.content}}</p>
    {% for answer in question.answers %}
<p>---- {{answer.id}}-{{answer.content}}-{{answer.choice}}</p>
    {% endfor %}
<hr>
{% endfor %}

<hr>



{% endblock %}
